.example-viewport {
  width: 100%;
  height: 100%;
  }
  
  .example-item {
    height: 50px;
    width: 100%;
  }
  .example-item button{
    border: none;
    width: 100%;
    padding: 12px 40px;
    text-align: start;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(122, 121, 121);
    border-bottom-right-radius: 27px;
    border-top-right-radius: 27px;
    cursor: pointer;
  }
  