*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    background: rgb(203, 203, 245);
}
.firstHeadContainer{
    background-color: rgb(247, 195, 127);
    width: 100%;
}
.imgAndAddress{
    background-color: rgb(41, 250, 250);
    width: 30%;
    float: left;
}
.searchBar{
    background-color: rgb(235, 20, 235);
    width: 35%;
    float: left; 
}
.flagToCart{
    background-color: rgb(242, 212, 41);
    width: 35%;
    float: left;
}
.secondHeadContainer{
    background-color: rgb(255, 0, 0);
    width: 100%;
}
.leftDiv{
    background-color: rgb(34, 252, 34);
    width: 60%;
    float: left;
}
.rightDiv{
    background-color: rgb(187, 71, 255);
    width: 40%;
    float: left;
}
.section{
    background-color: rgb(243, 190, 124);
    width: 100%;
    height: 900px;
}
.footer{
    background-color: rgb(162, 159, 159);
    width: 100%;
    height: 100px;
}