*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    background: black;
    width: 100%;
}
.firstHeadContainer{
    background-color: black;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 40px;
}
.imgAndAddress{
    background-color: black;
    width: 400px;
    float: left;
}
.imgAmazon {
    width: 40%;
    float: left;
}
.imgAmazon:hover{
    border: 0.1px solid antiquewhite;
    border-radius: 4px;
    cursor: pointer;
}
.imgAmazon img{
    width: 100%;
}
.address{
    width: 60%;
    float: left;
    color: antiquewhite;
}
.address:hover{
    border: 0.1px solid antiquewhite;
    border-radius: 4px;
    cursor: pointer;
}
.searchBar{
    background-color: black;
    width: calc(100% - 850px);
    float: left; 
}
.firstSearchDiv{
    width: 9%;
    float: left;
    color: rgb(79, 78, 76);
    background-color: rgb(211, 208, 208);
    border: 0.1px solid antiquewhite;
    border-radius: 4px;
}
.firstSearchDiv:hover{
    background-color: rgb(194, 188, 188);
    cursor: pointer;
}
.secondSearchDiv input{
    width: 83.5%;
    float: left;
}
.thirdSearchDiv img{
    width: 7.5%;
    float: left;
    border: 0.1px solid antiquewhite;
    border-radius: 4px;
}
.thirdSearchDiv:hover{
    cursor: pointer;
}
.flagToCart{
    color: antiquewhite;
    background-color: black;
    width: 450px;
    float: left;
}
.imgFlag{
    width: 10%;
    float: left;
    border: 0.1px solid antiquewhite;
    border-radius: 4px;
}
.imgFlag img{
    width: 100%;
    float: left;
}
.signIn{
    width: 37.7%;
    float: left;
    border: 0.1px solid antiquewhite;
    border-radius: 4px;
}
.signIn p{
    width: 100%;
    color: antiquewhite;
    background-color: black;
    float: left;
}
.orders{
    width: 37.7%;
    float: left;
    border: 0.1px solid antiquewhite;
    border-radius: 4px;
}
.orders p{
    width: 100%;
    color: antiquewhite;
    background-color: black;
    float: left;
}
.cart{
    width: 14.5%;
    float: left;
    border: 0.1px solid antiquewhite;
    border-radius: 4px;
}
.cart img{
    width: 50%;
    border-radius: 50%;
    float: left;
}
.cart p b{
    width: 50%;
    float: left;
}

.secondHeadContainer{
    background-color: rgb(10, 32, 46);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 40px
}
.leftDiv{
    background-color: rgb(10, 32, 46);
    width: 60%;
    float: left;
}
.liDiv{
    padding-top: 2px;
    padding-bottom: 5px;
    margin-left: 3px;
}
.liDiv ul li{
    color: antiquewhite;
    display: inline;
    margin: 4px;
    border: 0.1px solid antiquewhite;
    border-radius: 3px;
    float: left;
}
.rightDiv{
    background-color: rgb(10, 32, 46);
    width: 40%;
    float: left;
}
.SecondHeaderDivImg img{
    width: 70%;
    float: right;
    border: 0.1px solid antiquewhite;
}
.section{
    background-color: rgb(86, 165, 218);
    width: 100%;
    height: 900px;
    float: left;
}
.footer{
    background-color: rgb(162, 159, 159);
    width: 100%;
    height: 100px;
    float: left;
}