*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.product{
    width: 100%;
}
.firstLeftDiv{
    width: 340px;
    height: auto;
    float: left;
    padding: 7px;
}
.allColumnImg{
    width: 66px;
    height: 520px;
    float: left;
    padding: 2px;
}
.firstLeftColumnImgs{
    width: 60px;
    height: 72px;
}
.firstLeftColumnImgs img{
    width: 60px;
    height: 70px;
}
.mobileImgDiv{
    width: calc(100% - 120px);
    height: 520px;
    float: left;
    margin-left: 50px;
}
.mobileImgDiv img{
    width: 100%;
    height: 510px;
}
.secondMiddleDiv{
    width: calc(100% - 620px);
    height: auto;
    float: left;
    padding: 4px;
}
.productHeading{
    width: 100%;
    height: 130px;
    float: left;
    line-height: 28px;
    padding: 12px;
}
.subHeadingOfProduct p {
    font-size: small;
    color: rgb(0, 105, 210);
}
.headingOfProduct p {
    font-size: larger;
}
.starRating img{
    width: 20px;
    height: 18px;
}
.starRating p {
    font-size: small;
    display: inline;
    color: rgb(0, 105, 210);
}
.warrantyReplacementDiv{
    width: 100%;
    height: 130px;
    float: left;
}
.imgWithTitle1{
    width: 20%;
    float: left;
    padding: 20px;
    line-height: 20px;
    text-align: center;
}
.imgWithTitle2{
    width: 20%;
    float: left;
    padding: 20px;
    line-height: 20px;
    text-align: center;
}
.imgWithTitle1 img{
    width: 40px;
}
.imgWithTitle1 p{
    font-size: small;
    /* display: inline; */
    color: rgb(0, 105, 210);
}
.imgWithTitle2 img {
    width: 70px;
    height: 45px;
}
.imgWithTitle2 p{
    font-size: small;
    /* display: inline; */
    color: rgb(0, 105, 210);
}
.aboutProduct{
    padding: 20px;
    line-height: 26px;
}
.aboutProduct h4{
    color: brown;
}
.aboutProduct p{
    font-size: small;
}
.aboutProduct ul li{
    font-size: 14px;
}
.aboutProductSecondLastPara p{
    color: rgb(0, 105, 210);
    line-height: 38px;
}
.aboutProductLastPara img{
    width: 20px;
}
.aboutProductLastPara p{
    color: rgb(0, 105, 210);
    display: inline;
}
.newModelProductDiv{
    width: 100%;
    float: left;
    padding: 20px;
    line-height: 26px;
}
.newModelProductDiv h4{
    color: brown;
}
.forNewModelImg{
    width: 15%;
    height: 50px;
    float: left;
}
.forNewModelImg img{
    width: 100%;
}
.forNewModelAbout{
    width: 85%;
    float: left;
}
.forNewModelStar{
    width: 100%;

}
.forNewModelStar img{
    width: 20px;
    height: 18px;
}
.forNewModelStar p{
    display: inline;
    font-size: small;
    color: rgb(0, 105, 210);
}
.thirdRightDiv{
    width: 280px;
    height: auto;
    float: left;
}
.allLinks{
    width: 100%;
    float: left;
    padding: 4px;
}
.allLinksFirstDiv{
    width: 30%;
    float: left;
}
.allLinksFirstDiv a{
    float: right;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.allLinksSecondDiv{
    width: 70%;
    float: left;
    padding-left: 4px;
}
.allLinksSecondDivimg{
    width: 18%;
    float: left;
}
.allLinksSecondDivimg img{
    height: 20px;
}
.productAvailability{
    width: 100%;
    float: left;
    border: 0.1px solid rgb(155, 154, 154);
    padding: 15px;
    padding-bottom: 25px;
    text-align: center;
    line-height: 19px;
}
.productAvailability h4{
    color: brown;
}
.productAvailability p{
    font-size: 13px;
}
.productAvailability button{
    padding: 3px 32px;
}
.fourSectionProductDiv{
    width: 100%;
    float: left;
    padding: 4px 40px;
}
.fourSectionProductSubDiv{
    width: 25%;
    height: 290px;
    float: left;
    padding: 7px;
    text-align: center;
    line-height: 25px;
}
.fourSectionProductSubDiv img{
    width: 128px;
    height: 135px;
    margin: 0px 30%;
}
.fourSectionProductSubDiv p{
    font-size: small;
    color: rgb(0, 105, 210);
    height: 85px;
}
.fourSectionProductSubDiv h5{
    color: brown;
}
.fourSectionProductSubDiv button{
    background-color: rgb(255, 204, 0);
    border: 0.1px solid rgb(252, 178, 19);
    border-radius: 2px;
    padding: 5px 15px;
}
