<div class="settlementOffers">
    <div class="headingOfSettlement">
        <p>Settlement Offers</p>
        <img src="../assets/info-d.png" alt="">
    </div>
    <div class="btn_view_details">
        <button routerLink="/settlement">view details</button>
    </div>
    <div class="firstPartition">
        <div class="threeSettlementOffersDiv">
            <div class="imgForAllPartition">
                <img src="../assets/ionic-md-rocket.png" alt="">
            </div>
            <div class="value">
                <p>3.37 Lac</p>
            </div>
            <div class="buttonForPartition">
                <button>Offers Raised</button>
            </div>
        </div>
        <div class="threeSettlementOffersDiv">
            <div class="imgForAllPartition">
                <img src="../assets/check.png" alt="">
            </div>
            <div class="value">
                <p>2.56 Lac</p>
            </div>
            <div class="buttonForPartition">
                <button>Offers Raised</button>
            </div>
        </div>
        <div class="threeSettlementOffersDiv">
            <div class="imgForAllPartition">
                <img src="../assets/customerp3.png" alt="">
            </div>
            <div class="value">
                <p>98K</p>
            </div>
            <div class="buttonForPartition">
                <button>Offers Raised</button>
            </div>
        </div>
    </div>
    <div class="secondPartition">
        <div class="threeSettlementOffersDiv">
            <div class="imgForAllPartition">
                <img src="../assets/undo-button.png" alt="">
            </div>
            <div class="value">
                <p>2.15 Lac</p>
            </div>
            <div class="buttonForPartition">
                <button>Offers Raised</button>
            </div>
        </div>
        <div class="threeSettlementOffersDiv">
            <div class="imgForAllPartition">
                <img src="../assets/awesome-user.png" alt="">
            </div>
            <div class="value">
                <p>3.1 Lac</p>
            </div>
            <div class="buttonForPartition">
                <button>Offers Raised</button>
            </div>
        </div>
        <div class="threeSettlementOffersDiv">
            <div class="imgForAllPartition">
                <img src="../assets/cross.png" alt="">
            </div>
            <div class="value">
                <p>36K</p>
            </div>
            <div class="buttonForPartition">
                <button>Offers Raised</button>
            </div>
        </div>
    </div>
</div>
