*{
    padding: 0px;
    margin: 0px;
}
.parent{
    width: 600px;
    height: 700px;
    margin: auto;
    /* background: rgb(15, 1, 78); */
    border: 1px solid greenyellow;
    border-radius: 8px;
    text-align: justify;
}
.heading{
    width: 400px;
    margin: auto;
    padding-top: 10px;
    line-height: 30px;
}
.heading h4{
    /* color: antiquewhite; */
    font-size: 25px;
    font-family: sans-serif;
}