*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    width: 100%;
    border: 3px solid;
    display: flex;
    flex-direction: column;
}
.firstHeader{
    width: 100%;
    display: flex;
}
.leftDiv{
    width: 40%;
    height: 20px;
}
.rightDiv{
    width: 60%;
    height: 20px;
}
.rightDiv ul { 
    display: flex;
}
.rightDiv ul li{
    list-style: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 30px;
    word-spacing: 3px;
}
.rightDiv ul li a{
    text-decoration: none;
    color: black;
}
.secondHeader{
    width: 100%;
    height: 50px;
    display: flex;
    border-top: 0.1px solid rgb(225, 223, 223);
    border-bottom: 0.1px solid rgb(225, 223, 223);
}
.leftLogoDiv{
    width: 170px;
    padding: 5px;
}
.leftLogoDiv img{
    width: 100%;
}
.leftLogoDiv p{
    font-size: small;
    text-align: center;
}
.centerHeaderDiv{
    width: calc( 100% - 620px);
    height: 48px;
}
.centerHeaderDiv ul{
    display: inline-block;
    list-style: none;
    display: flex;
}
.centerHeaderDiv ul li{
    display: inline;
    padding: 11px 14px 13px 14px;
}
.centerHeaderDiv ul li a{
    text-decoration: none;
    color: black;
}
.Sale{
    background-color: rgb(218, 26, 26);
}
.rightHeaderDiv{
    width: 450px;
    height: 48px;
}
.rightHeaderDiv ul{
    display: inline-block;
    list-style: none;
    display: flex;
}
.rightHeaderDiv ul li{
    display: inline;
    padding: 11px 12px 13px 14px;
}
.rightHeaderDiv ul li a{
    text-decoration: none;
    color: black;
}
.rightHeaderDiv ul li a img{
    width: 25px;
    height: 22px;
}
.section{
    width: 100%;
    border: 3px solid;
}
.labelDiv{
    width: 100%;
    display: flex;
    padding: 7px;
    padding-left: 40px;
    background-color: rgb(240, 239, 235);
}
.leftLabelDiv{
    width: 33%;
    /* float: left; */
}
.centerLabelDiv{
    width: 33%;
    /* float: left; */
}
.rightLabelDiv{
    width: 33%;
    /* float: left; */
}
.labelImg{
    width: 40px;
    float: left;
}
.labelImg img{
    width: 100%;
}
.labelPara{
    width: calc(100% - 50px);
    float: left;
    line-height: 0px;
    padding-left: 8px;
}
.labelPara h5{
    font-size: smaller;
}
.labelPara p{
    font-size: 13px;
}
.firstSectionDiv{
    width: 100%;
    display: flex;
    background-color: rgb(51, 63, 72);
}
.firstSectionDivImg{
    width: 50%;
    padding: 50px 15px ;
}
.secondSectionDivPara{
    width: 50%;
}
.firstSectionDivImg img{
    width: 100%;
}
.secondSectionDivPara{
    color: antiquewhite;
    word-spacing: 5px;
    padding: 120px 0px 0px 35px;;
}
.onlineOnly {
    padding-top: 12px;
    font-size: x-small;
}
.secondSectionDiv{
    width: 100%;
    padding: 4px 0px;
}
.popularProductDiv{
    width: 100%;
    padding: 10px 10px;
    text-align: center;
}
.fourProductDivSection{
    width: 100%;
    display: flex;
    border: 1px solid;
}
.fourProductDiv{
    width: 25%;
    padding: 0px 55px;
}
.fourProductDivImg{
    width: 100%;
}
.fourProductDivImg img{
    width: 220px;
    height: 275px;
}
.fourProductDiv p{
    font-size: small;
    font-weight: bold;
}
.thirdSectionDiv{
    width: 100%;
    display: flex;
    background-color: rgb(2 21 40);
}
.footer{
    width: 100%;
    padding: 15px 0px;
    border: 3px solid;
}
.firstFooterDiv{
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}
.firstFooterFiveDiv ul{
    display: inline;
    list-style: none;
    line-height: 30px;
}
.firstFooterFiveDiv ul li{
    font-size: smaller;
}
.firstFooterFiveDiv ul li h4{
    font-size: 15px;
    font-weight: bold;
}
.secondFooterDiv{
    width: 100%;
    display: flex;
    height: 40px;
    background-color: rgb(244, 244, 244);
    justify-content: space-around;
}
.secondFooterFirstDiv{
    align-self: center;
}
.secondFooterFirstDiv img{
    width: 150px;
}
.secondFooterSecondDiv{
    align-self: center;
}
.secondFooterSecondDiv p{
    font-size: x-small;
    margin-bottom: 0px;
}



/* 320px, 420px, 768px, 1024px, 1366px */




@media only screen and (max-width: 320px){

}
@media  (min-width: 321px) and (max-width: 420px){

}
@media  (min-width: 421px) and (max-width: 768px){

}
@media  (min-width: 769px) and (max-width: 1024px){

}
@media  (min-width: 1025px) and (max-width: 1366px){

}
