<div class="portfolio">
    <div class="portfolioHeading">Portfolio Overview</div>

    <div class="portfolio_Options">
      <div class="portfolioOptionsFirst">
        <div class="byAmountByAccountFirst">
          <div class="userImageDiv">
            <button (click)="changeState()"><i [@changeDivSize]=currentState1 class="fa-regular fa-user"></i></button>
          </div>
          <div class="seprator2"></div>

          <div class="rupeesImageDiv">
            <button (click)="changeState()" [@changeDivSize]=currentState2>&#8377;</button>
          </div>
        </div>

        <div class="seprator3"></div>

        <div class="byAmountByAccountSecond">
          {{accountOrAmount}}
        </div>
      </div>


      <div class="portfolioOptionsSecond">
        <div class="fourDifferentOptionsExport" (click)="show()">
          <img src="../assets/export.svg" alt="">
          <p>Export Master Report</p>
        </div>
        <div class="outer" (mouseleave)="leave()">
          <div class="fourDifferentOptions" (mouseenter)="creditCard()" >  
            <p>{{CreditValue}}</p>
          </div>
          <div class="outerLayer" *ngIf="selectedCredit" >
            <div class="listForCredit" *ngFor="let c of credit" (click)="creditChange(c)">{{c}}</div>
          </div>
        </div>

        <div class="outer" (mouseleave)="leave()">
          <div class="fourDifferentOptions" (mouseenter)="liveFunc()" >  
            <p>{{LiveValue}}</p>
          </div>
          <div class="outerLayer" *ngIf="selectedLive" >
            <div class="listForCredit" *ngFor="let l of live" (click)="liveFuncChange(l)">{{l}}</div>
          </div>
        </div>
        <div class="outer" (mouseleave)="leave()">
          <div class="fourDifferentOptions" (mouseenter)="showDate()" >  
            <p>{{DateValue}}</p>
          </div>
          <div class="outerLayer" *ngIf="selectedDates" >
            <div class="listForCredit" *ngFor="let d of dates" (click)="showDateChange(d)">{{d}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="portfolioFiveSectionDiv">
      <div class="fiveDifferentSectionDiv" *ngFor="let l of this.cardDetails">
          <div class="upperDiv">
            <div class="upperFirstImg">
              <img src="../assets/totalAccounts.png" alt="">
            </div>
            <div class="upperTextDiv">
              <p>{{l.heading}}</p>
            </div>
            <div class="upperSecondImg">
              <img src="../assets/info-d.png" alt="">
            </div>
          </div>
          <div class="lowerDiv">
          <div class="lowerPart" *ngIf="account">
            <p>{{l.lac}}</p>
          </div>
            <div class="lowerPart" *ngIf="amount">
              <p>{{l.crore}}</p>
            </div>
            <div class="lowerPartPer">
              <p>{{l.per}}</p>
            </div>
          </div>
      </div>
    </div>
</div>


<div class="slider" [ngStyle]="{'display':showslider === false ? 'none' : 'block' }">
  <img src="../assets/timer.svg" alt="">
  <p>Your report is being generated.
    Download link for the report will be mailed to you on your registered email id within 24 hours.</p>
  <button (click)="show()">OK</button>
</div>


<app-settlement-offers></app-settlement-offers>