<p>ServerS component data of html file.</p>
<h5>Warning!</h5>

<!-- property binding on disabled  and event binding on click  -->

<!-- <p [innerText] = "allowNewServer"></p> -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onServerStatuscall()">Add server</button>
<p>{{serverStatus}}</p>

<br>

<!-- two way data binding with event binding -->

<label>Server Name</label>
<input type="text"  class="form-control" (input)="onUpdateServerName($event)"><br>
<h4>{{serverName}}</h4>

<!-- two way data binding with property and event binding -->

<label>Server Name</label>
<input type="text"  class="form-control" [(ngModel)]="serverName"><br>
<h4>{{serverName}}</h4>


<!-- exercise of above topics -->

<label>username</label>
<input type="text" class="form-control" [(ngModel)]="username"><br>
<h4>{{username}}</h4>
<button class="btn btn-primary" [disabled]="username === ''" (click)="deleteUsername()">delete</button>
<br>
<br>
<br>

<!-- *ngIf -->

<label>Server Name</label>
<input type="text"  class="form-control" [(ngModel)]="serverName"><br>
<button class="btn btn-primary" (click)="onServerStatuscall()">Add server</button>
<!-- <p>{{serverStatus}}</p> -->
<p *ngIf="serverCreated">Server was created , server name is {{serverName}}</p>
<br>
<br>

<!-- *ngFor -->

<app-server *ngFor="let server of servers"></app-server>

<br>
<br>
<!-- Exercise of above topics -->

<button class="btn btn-primary" (click)="changeCondition()"  >Display Details</button>
<p *ngIf="condition">Hello everyone. My name is Kushal Nigam.</p>
<div *ngFor="let log of logArray" [ngStyle]=" { backgroundColor : log > 5 ? 'red' : 'yellow' } " [ngClass]=" {'whiteClass' : log > 5 } ">{{log}}</div>

<br>
<br>




