.settlementheading{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: sans-serif;
    padding-top: 40px;
}
.goBack button{
    background: none;
    border: none;
    color: orange;
    font-size: 16px;
    cursor: pointer;
}
.portfolio_Options{
    display: flex;
    padding: 10px 50px;
}
.portfolioOptionsFirst{
    display: flex;
    width: 270px;
    justify-content: space-evenly;
    
}
.byAmountByAccountFirst{
    display: flex;
}
.userImageDiv{
    align-self: center;
}
.userImageDiv button{
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.userImageDiv img {
    width : 27px;
    border-radius: 60px;
}
.seprator2{
    width: 40px;
    height: 1px;
    background-color: aliceblue;
    align-self: center;

}
.rupeesImageDiv{
    align-self: center;
}
.rupeesImageDiv button{
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.rupeesImageDiv img{
    width : 27px;
    border-radius: 60px;
}
.seprator3{
    width: 2px;
    height: 40px;
    background-color: rgb(253, 176, 8);
}
.byAmountByAccountSecond{
    display: flex;
    align-items: center;
    color: rgb(253, 176, 8);
}
.portfolioOptionsSecond{
    display: flex;
    justify-content: flex-end;
    width: 80%;

}
.fourDifferentOptions{
    border: 1px solid rgb(253, 176, 8);
    color: rgb(253, 176, 8);
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    width: 220px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-right: 25px;
}
.fourDifferentOptionsExport{
    border: 1px solid rgb(253, 176, 8);
    color: rgb(253, 176, 8);
    border-radius: 20px;
    display: flex;
    width: 220px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.outerLayer{
    width: 88%;
    position: absolute;
    top: 40px;
    z-index: 2;
    border-radius: 3px;
    background-color: rgb(70, 67, 67);
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.listForCredit{
    padding: 2px 2px;
    margin-bottom: 1px;
    background-color: rgb(31, 28, 28);
}

.tableDiv{
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 36, 36);
}
.headDiv{
    display: flex;
    justify-content: space-around;
}
.headings{
    padding: 10px 25px;
}
.headings p{
    font-family: sans-serif;
    font-size: smaller;
    color: rgb(167, 166, 166);
}
.bodyDiv{
    display: flex;
    padding: 10px 2px;
    color: rgb(167, 166, 166);
    font-size: smaller;
    background-color: black;
    margin: 2px 4px;
    border-radius: 2px;
}
.row1{
    width: 70px;
    text-align: center;
    margin-right: 12px;
    align-self: center;
}
.row2{
    width: 80px;
    text-align: start;
    margin-right: 20px;
    align-self: center;
}
.row3{
    width: 80px;
    text-align: start;
    margin-right: 75px;
    align-self: center;
}
.row4{
    width: 80px;
    text-align: center;
    margin-right: 55px;
    align-self: center;
}
.row5{
    width: 80px;
    text-align: start;
    margin-right: 30px;
    align-self: center;
}
.row6{
    width: 40px;
    text-align: center;
    margin-right: 80px;
    align-self: center;
}
.row7{
    width: 20px;
    text-align: center;
    margin-right: 95px;
    align-self: center;
}
.row8{
    width: 20px;
    text-align: center;
    margin-right: 65px;
    align-self: center;
}
.row9{
    width: 20px;
    text-align: center;
    margin-right: 27px;
    align-self: center;
}
.row10{
    width: 160px;
    text-align: center;
    margin-right: 0px;
    float: left;
    align-self: center;
}
.firstBtn10{
    background-color: #087b65;
    color: antiquewhite;
    border: none;
    padding: 7px;
    cursor: pointer;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.firstBtn10 i{
    display: block;
}
.secondBtn10{
    background-color: #740ea7;
    color: antiquewhite;
    border: none;
    padding: 7px;
    cursor: pointer;
    margin-left: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.secondBtn10 i{
    display: block;
}
.row11{
    width: 20px;
    text-align: center;
    margin-right: 70px;
    align-self: center;
}
.row12{
    width: 20px;
    text-align: center;
    align-self: center;
}
.Row1{
    width: 70px;
    text-align: center;
    margin-right: 12px;
    align-self: center;
}
.Row2{
    width: 70px;
    text-align: center;
    margin-right: 22px;
    align-self: center;
}
.Row3{
    width: 70px;
    text-align: center;
    margin-right: 100px;
    align-self: center;
}
.Row4{
    width: 70px;
    text-align: center;
    margin-right: 60px;
    align-self: center;
}
.Row5{
    width: 70px;
    text-align: center;
    margin-right: 50px;
    align-self: center;
}
.Row6{
    width: 20px;
    text-align: center;
    margin-right: 80px;
    align-self: center;
}
.Row7{
    width: 20px;
    text-align: center;
    margin-right: 110px;
    align-self: center;
}
.Row8{
    width: 20px;
    text-align: center;
    margin-right: 80px;
    align-self: center;
}
.Row9{
    width: 20px;
    text-align: center;
    margin-right: 10px;
    align-self: center;
}
.Row10{
    width: 160px;
    text-align: center;
    padding-left: 18px;
    align-self: center;
}
.Btn10{
    padding: 5px 30px;
    background-color: #17ac44;
    color: antiquewhite;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.Btn10 i{
    display: block;
}
.Row11{
    width: 70px;
    text-align: center;
    margin-right: 38px;
    align-self: center;
}
.Row12{
    width: 80px;
    text-align: center;
    align-self: center;
}