.structure{
    padding: 0px 30px;
}
.settlementheading{
    padding: 40px 7px 30px 0px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: sans-serif;
}
.goBack button{
    background: none;
    border: none;
    color: orange;
    font-size: 16px;
    cursor: pointer;
}
.portfolio_Options{
    display: flex;
    padding-bottom: 20px;
}
.portfolioOptionsFirst{
    display: flex;
    width: 270px;
    justify-content: space-between;
    
}
.byAmountByAccountFirst{
    display: flex;
}
.userImageDiv{
    align-self: center;
}
.userImageDiv button{
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.userImageDiv button i {
    font-size: 28px;
    color: antiquewhite;
}
.seprator2{
    width: 40px;
    height: 1px;
    background-color: aliceblue;
    align-self: center;

}
.rupeesImageDiv{
    align-self: center;
}
.rupeesImageDiv button{
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.rupeesImageDiv button i{
    font-size: 28px;
    color: antiquewhite;
}
#firstI{
    font-size: 16px;
    color: antiquewhite;
}
.seprator3{
    width: 2px;
    height: 40px;
    background-color: rgb(253, 176, 8);
}
.byAmountByAccountSecond{
    display: flex;
    align-items: center;
    color: rgb(253, 176, 8);
}
.portfolioOptionsSecond{
    display: flex;
    justify-content: flex-end;
    width: 80%;

}
.fourDifferentOptions{
    border: 1px solid rgb(253, 176, 8);
    color: rgb(253, 176, 8);
    border-radius: 20px;
    padding: 8px 20px;
    display: flex;
    width: 220px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-left: 10px;
}
.fourDifferentOptionsExport{
    border: 1px solid rgb(253, 176, 8);
    color: rgb(253, 176, 8);
    border-radius: 20px;
    display: flex;
    width: 220px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.outerLayer{
    width: 88%;
    position: absolute;
    top: 40px;
    z-index: 2;
    border-radius: 3px;
    background-color: rgb(70, 67, 67);
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.listForCredit{
    padding: 7px 10px;
    margin-bottom: 1px;
    background-color: rgb(24, 24, 24);
}

.tableDiv{
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 36, 36);
}
.header{
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 12px 2px;
    background-color: rgb(24, 24, 24);
}
.leftHeader{
    display: flex;
    width: 40%;
    padding-left: 10px;
}
.rightHeader{
    display: flex;
    width: 60%;
    justify-content: flex-end;
    padding-right: 30px;
}
.showEntry{
    align-self: center;
}
.fourDifferentOptions2{
    border: 1px solid rgb(253, 176, 8);
    color: rgb(253, 176, 8);
    border-radius: 20px;
    padding: 7px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.outer2{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 22px;
}
.outerLayer2{
    width: 88%;
    position: absolute;
    top: 36px;
    z-index: 2;
    border-radius: 3px;
    background-color: rgb(70, 67, 67);
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.listForCredit2{
    padding: 7px 10px;
    margin-bottom: 1px;
    background-color: rgb(24, 24, 24);
}
.fourDifferentOptions2 input{
    background-color: transparent;
    border: none;
    width: 170px;
    font-family: sans-serif;
    font-size: medium;
    margin-right: 1px;
}
.lastLine{
    padding: 22px 10px;

}
.headDiv{
    display: flex;
    justify-content: space-around;
}
.headings{
    padding: 10px 25px;
}
.headings p{
    font-family: sans-serif;
    font-size: smaller;
    color: rgb(167, 166, 166);
}
.bodyDiv{
    display: flex;
    padding: 10px 2px;
    color: rgb(167, 166, 166);
    font-size: smaller;
    background-color: rgb(24, 24, 24);
    margin: 2px 4px;
    border-radius: 2px;
}
.row1{
    width: 70px;
    text-align: center;
    margin-right: 12px;
    align-self: center;
}
.row2{
    width: 80px;
    text-align: start;
    margin-right: 20px;
    align-self: center;
}
.row3{
    width: 80px;
    text-align: start;
    margin-right: 57px;
    align-self: center;
}
.row4{
    width: 80px;
    text-align: center;
    margin-right: 55px;
    align-self: center;
}
.row5{
    width: 70px;
    text-align: start;
    margin-right: 30px;
    align-self: center;
}
.row6{
    width: 40px;
    text-align: center;
    margin-right: 55px;
    align-self: center;
}
.row7{
    width: 20px;
    text-align: center;
    margin-right: 95px;
    align-self: center;
}
.row8{
    width: 30px;
    text-align: center;
    margin-right: 65px;
    align-self: center;
}
.row9{
    width: 20px;
    text-align: center;
    margin-right: 27px;
    align-self: center;
}
.row10{
    width: 160px;
    text-align: center;
    margin-right: 0px;
    float: left;
    align-self: center;
}
.firstBtn10{
    background-color: #087b65;
    color: antiquewhite;
    border: none;
    padding: 7px;
    cursor: pointer;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.firstBtn10 i{
    display: block;
}
.secondBtn10{
    background-color: #740ea7;
    color: antiquewhite;
    border: none;
    padding: 7px;
    cursor: pointer;
    margin-left: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.secondBtn10 i{
    display: block;
}
.row11{
    width: 20px;
    text-align: center;
    margin-right: 70px;
    align-self: center;
}
.row12{
    width: 20px;
    text-align: center;
    align-self: center;
}
.Row1{
    width: 85px;
    text-align: center;
    margin-right: 12px;
    align-self: center;
}
.Row2{
    width: 80px;
    text-align: center;
    margin-right: 22px;
    align-self: center;
}
.Row3{
    width: 65px;
    text-align: center;
    margin-right: 100px;
    align-self: center;
}
.Row4{
    width: 70px;
    text-align: center;
    margin-right: 60px;
    align-self: center;
}
.Row5{
    width: 60px;
    text-align: center;
    margin-right: 50px;
    align-self: center;
}
.Row6{
    width: 20px;
    text-align: center;
    margin-right: 80px;
    align-self: center;
}
.Row7{
    width: 20px;
    text-align: center;
    margin-right: 110px;
    align-self: center;
}
.Row8{
    width: 20px;
    text-align: center;
    margin-right: 80px;
    align-self: center;
}
.Row9{
    width: 20px;
    text-align: center;
    margin-right: 10px;
    align-self: center;
}
.Row10{
    width: 175px;
    text-align: center;
    padding-left: 18px;
    align-self: center;
}
.Btn10{
    padding: 5px 25px;
    background-color: #17ac44;
    color: antiquewhite;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.Btn10 i{
    display: block;
}
.Row11{
    width: 70px;
    text-align: center;
    margin-right: 38px;
    align-self: center;
}
.Row12{
    width: 80px;
    text-align: justify;
    align-self: center;
}

.slider{
    width: 800px;
    height: 460px;
    position: fixed;
    top: calc(100% - 500px);
    left: calc(50% - 400px);
    z-index: 2;
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 6px;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.firstDivInSlider{
    padding: 18px 0px;
    background-color: #740ea7;
    text-align: center;
    font-size: 23px;
    font-family: sans-serif;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.secondPart{
    width: 100%;
    float: left;
    padding: 18px;
}
.secondDivInSlider{
    width: 100%;
    float: left;
    font-size: 19px;
    margin-top: 30px;
    margin-left: 15px;
}
.secondDivPart1{
    width: 45%;
    float: left;
    line-height: 35px;
    padding-left: 5px;
    margin-right: 30px;
}
.secondDivPart1 input{
    width: 100%;
    background-color: black;
    color: antiquewhite;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 22px 9px;
}
.secondDivPart2{
    width: 45%;
    float: left;
    line-height: 35px;
    padding-left: 5px;
}
.secondDivPart2 input{
    width: 100%;
    background-color: black;
    color: antiquewhite;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 22px 9px;

}
.thirdDivInSlider{
    width: 100%;
    float: left;
    font-size: 19px;
    margin-top: 30px;
    margin-left: 15px;
}
.thirdDivPart1{
    width: 45%;
    float: left;
    line-height: 35px;
    padding-left: 5px;
    margin-right: 30px;
}
.thirdDivPart1 input{
    width: 100%;
    background-color: black;
    color: antiquewhite;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 22px 9px;
}
.thirdDivPart2{
    width: 45%;
    float: left;
    line-height: 35px;
    padding-left: 5px;
}
.thirdDivPart2 input{
    width: 100%;
    background-color: black;
    color: antiquewhite;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 22px 9px;
}
.fourthDivInSlider{
    width: 100%;
    float: left;
    margin-top: 35px;
    margin-left: 15px;
}
.fourthDivPart1{
    width: 45%;
    float: left;
    padding-left: 5px;
    margin-right: 30px;
}
.fourthDivPart2{
    width: 45%;
    float: left;
}
.fourthDivPart1 button{
    width: 100%;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 50px;
    font-size: 21px;
    cursor: pointer;
}
.fourthDivPart2 button{
    width: 100%;
    background-color: #740ea7;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 50px;
    font-size: 21px;
    cursor: pointer;
}