<div class="fullPage">
  
  <div class="navigationMenu">
    <div class="etheraImg allImages">
      <button><img src="../assets/ethera.png" alt=""></button>
    </div>
    <div class="home allImages">
      <button routerLink="/home"><img src="../assets/home_menu.png" alt=""></button>
      <p>Home</p>
    </div>
    <div class="collections allImages">
      <button routerLink="/collections"><img src="../assets/collections.png" alt=""></button>
      <p>Collections</p>
    </div>
    <div class="recovery allImages">
      <button routerLink="/recovery"><img src="../assets/recovery.png" alt=""></button>
      <p>Recovery</p> 
    </div>
    <div class="campaign allImages">
      <button routerLink="/campaign"><img src="../assets/marketing.png" alt=""></button>
      <p>Campaign</p>
    </div>
    <div class="product allImages">
      <button routerLink="/product"><img src="../assets/product.png" alt=""></button>
      <p>Product</p>
    </div>
    <div class="queries allImages">
      <button routerLink="/queries"><img src="../assets/queries.png" alt=""></button>
      <p>Queries</p>
    </div>
  </div>

  <div class="wholeBody">
  
      <div class="header">
        <div class="forImageAndName">
          <div class="image">
            <img src="../assets/imageOfPerson.png" alt="">
          </div>
          <span>User Name</span>
        </div>
      </div>
  
  
      <div class="seprator1"></div>
      <router-outlet></router-outlet>
  </div>
      
</div>
