*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.fullPage{
    display: flex;

}
.navigationMenu{
    background-color: black;
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 10px;
    font-family: sans-serif;
}
.allImages button{
    padding: 0px;
    border: 0px;
    width: 28px;
    background-color: black;
    cursor: pointer;
}
.allImages img{
    width: 100%;
    background-color: black;
}
.wholeBody{
    background-color: rgb(48, 47, 47);
    color: rgb(253, 251, 249);
    font-family: sans-serif;
    width: 100%;
    height: 900px;
    min-height: 100vh;
}
.header{
    padding: 20px 50px;
    display: flex;
    justify-content: flex-end;
}
.forImageAndName{
    display: flex;
    padding: 2px;
}
.forImageAndName span{
    align-self: center;
}
.image img{
    width: 40px;
    border-radius: 20px;
}
.seprator1{
    width: 100%;
    height: 1px;
    background-color: black;
}





