<h1>Use Of Get API Call</h1>

<p><b>Fetched data From Api- </b> {{users.id}} - {{users.title}} </p>


<h1>Use Of Post API Call</h1>

<form #usersForm="ngForm" (ngSubmit)="getUserFormData(usersForm.value)">
    <input type="text" ngModel name="userId" placeholder="Enter userId">
    <br>
    <br>
    <input type="text" ngModel name="id" placeholder="Enter id">
    <br>
    <br>
    <input type="text" ngModel name="title" placeholder="Enter title">
    <br>
    <br>
    <button>Add new user</button>
</form>