<div class="wholeBody">

  <div class="header">

    <div class="forImageAndName">

      <div class="image">
        image
      </div>
      <span>ABC</span>
    </div>
    <div class="forArrow">
      arrow
    </div>
  </div>

  <div class="portfolio">

    <div class="portfolioHeading">Portfolio Overview</div>

    <div class="portfolio_Options">
      <div class="portfolioOptionsFirst">
        <div class="byAmountByAccountFirst">
          amount
        </div>
        <div class="byAmountByAccountSecond">
          account
        </div>
      </div>
      <div class="portfolioOptionsSecond">
        <div class="fourDifferentOptions">
          1
        </div>
        <div class="fourDifferentOptions">
          2
        </div>
        <div class="fourDifferentOptions">
          3
        </div>
        <div class="fourDifferentOptions">
          4
        </div>
      </div>
    </div>
    <div class="portfolioFiveSectionDiv">
      <div class="fiveDifferentSectionDiv">
        1
      </div>
      <div class="fiveDifferentSectionDiv">
        2
      </div>
      <div class="fiveDifferentSectionDiv">
        3
      </div>
      <div class="fiveDifferentSectionDiv">
        4
      </div>
      <div class="fiveDifferentSectionDiv">
        5
      </div>
    </div>
  </div>
</div>
