*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wholeBody{
    background-color: black;
    color: antiquewhite;
}
.header{
    border: 3px solid red;
    display: flex;
    justify-content: flex-end;
}
.forImageAndName{
    border: 3px solid rgb(10, 224, 224);
    display: flex;
}
.forArrow{
    border: 3px solid rgb(81, 255, 0);
}
.portfolio{
    border: 3px solid blue;
}
.portfolioHeading{
    border: 3px solid rgb(160, 149, 149);
}
.portfolio_Options{
    border: 3px solid rgb(243, 31, 24);
    display: flex;
}
.portfolioOptionsFirst{
    border: 3px solid rgb(255, 239, 17);
    display: flex;
}
.byAmountByAccountFirst{
    border: 4px solid rgb(245, 126, 209);
}
.byAmountByAccountSecond{
    border: 4px solid rgb(38, 151, 243);
}
.portfolioOptionsSecond{
    border: 4px solid rgb(20, 118, 247);
    display: flex;
    justify-content: space-between;
}
.fourDifferentOptions{
    border: 3px solid red;
}
.portfolioFiveSectionDiv{
    
}



