
<div class="form">
  <h2>Login Form</h2>
  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email"  [errorStateMatcher]="matcher"
             placeholder="Ex. pat@example.com">
      <mat-error *ngIf="(loginFormControl['email'].touched) && loginFormControl['email'].errors?.['required']">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="loginFormControl['email'].touched && loginFormControl['email'].errors?.['email']">
        Please Enter A Valid Email.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" >
        <mat-error *ngIf="(loginFormControl['password'].touched) && loginFormControl['password'].errors?.['required']">
          Password is <strong>required</strong>
        </mat-error>
      
        <mat-error *ngIf="loginFormControl['password'].touched && loginFormControl['password'].errors?.['pattern']">
          Please enter Valid Pattern.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading" class="btn" >Submit</button>

  </form>

</div>

