<div class="parent">
  <div class="heading">
    <p>Just a few simple steps before</p>
    <p>we know it's you</p>
  </div>

  <div class="btn">
    <button
      type="button"
      [ngClass]="{ color: selectedBlock >= '1' }"
      (click)="set(Step1)"
    >
      1
    </button>
    <button
      type="button"
      [ngClass]="{ color: selectedBlock >= '2' }"
      (click)="set(Step2)"
    >
      2
    </button>
    <button
      type="button"
      [ngClass]="{ color: selectedBlock >= '3' }"
      (click)="set(Step3)"
    >
      3
    </button>
    <button
      type="button"
      [ngClass]="{ color: selectedBlock == '4' }"
      (click)="set(Step4)"
    >
      4
    </button>
  </div>

  <div class="content">
    <div *ngIf="selectedBlock == Step1" class="childDiv">
      <div class="step1">
        <p>Your registered mobile number</p>
        <input type="text" placeholder="Enter number" />
        <button type="button" (click)="set(Step2)">Login</button>
      </div>
    </div>
    <div *ngIf="selectedBlock == Step2" class="childDiv">
      <div class="step2">
        <p>Kindly verify the pin code of your residential address</p>
        <div class="options">
          <label for="1">123</label>
          <input type="button" name="select" id="1" />
        </div>
        <div class="options">
          <label for="2">234</label>
          <input type="button" name="select" id="2" />
        </div>
        <div class="options">
          <label for="3">345</label>
          <input type="button" name="select" id="3" (click)="set(Step3)" />
        </div>
        <div class="options">
          <label for="4">456</label>
          <input type="button" name="select" id="4" />
        </div>
      </div>
    </div>
    <div *ngIf="selectedBlock == Step3" class="childDiv">
      <div class="step3">
        <p>Kindly verify your Year of Birth</p>
        <div class="options">
          <label for="1">2021</label>
          <input type="button" name="select" id="1" />
        </div>
        <div class="options">
          <label for="2">2022</label>
          <input type="button" name="select" id="2" />
        </div>
        <div class="options">
          <label for="3">2023</label>
          <input type="button" name="select" id="3" (click)="set(Step4)" />
        </div>
        <div class="options">
          <label for="4">2024</label>
          <input type="button" name="select" id="4" />
        </div>
      </div>
    </div>
    <div *ngIf="selectedBlock == Step4" class="childDiv">
      <div class="step4">
        <p>Enter OTP</p>
        <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
        <button type="button" (click)="set(Step1)">Login</button>
      </div>
    </div>
  </div>
</div>
