.head{
    height: 70px;
    width: 100%;
    display: flex;
    background: linear-gradient(45deg,#303f9f,#7b1fa2)!important;
    padding: 8px 20px;
}
.searchDiv{
    display: flex;
    align-items: center;
    width: calc(100% - 300px);
    padding: 0px 2px;
}
.searchDiv button{
    padding: 4px 12px 5px 10px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: white;
    background: rgba(230,230,230,.3);
}
.searchDiv input{
    padding: 8px 8px 8px 30px;
    font-size: 16px;
    width: 90%;
    font-weight: 400;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white;
    border: 1px solid rgba(230,230,230,.05);
    background: rgba(230,230,230,.3);
    outline: 0;
}
::placeholder{
    color: white;
}
.iconsDiv{
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}
.icons{
    color: white;
    cursor: pointer;
}