<div class="head">
  <div class="searchDiv">
    <button type="submit"><mat-icon>search</mat-icon></button>
    <input type="text" placeholder="Explore Materialize" name="search" />
  </div>
  <div class="iconsDiv">
    <div class="icons">
      <button mat-button [matMenuTriggerFor]="beforeMenu">{{flag}}</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="changeValue(i)" *ngFor="let i of flags">{{i}}</button>
      </mat-menu>
    </div>
    <div class="icons"><mat-icon class="icon">aspect_ratio</mat-icon></div>
    <div class="icons"><mat-icon class="icon">notifications_none</mat-icon></div>
    <div class="icons"><mat-icon class="icon">account_circle</mat-icon></div>
    <div class="icons"><mat-icon class="icon">menu</mat-icon></div>
  </div>
</div>
