.contact{
    float: right;
    width: 100%;
}
.contactUpperDiv{
    color: white;
    background: linear-gradient(45deg,#303f9f,#7b1fa2)!important;
    padding: 35px 0px;
}
.contactUpperDiv p{
    font-size: small;
    font-family: sans-serif;
}
.heading{
    font-size: 27px;
    font-weight: 700;
    font-family: sans-serif;
    display: inline;
}
.contactMenuDiv{
    width: 250px;
    height: 320px;
    float: left;
}
.footer{
    float: left;
    width: 100%;
    background: linear-gradient(45deg,#303f9f,#7b1fa2)!important;
}
