<div class="contact">
    <div class="contactUpperDiv">
        <mat-icon>perm_identity</mat-icon><h4 class="heading"> Contacts</h4>
        <p>Total number of contacts</p>
        <p>1457 Contacts</p>
    </div>
    <div class="contactMenuDiv" cdkScrollable>
        <app-contact-menu></app-contact-menu>
    </div>
    <div class="contactTable">
        <app-contact-list></app-contact-list>
    </div>
    <div class="footer">
        <div class="firstFooterDiv">
            © 2020 PIXINVENT All rights reserved.
        </div>
        <div class="secondFooterDiv">
            Design and Developed by <a href="https://pixinvent.com/materialize-material-design-admin-template/html/ltr/vertical-modern-menu-template/app-contacts.html#"> PIXINVENT</a>
        </div>
    </div>
</div>